Source: rizin-cutter
Section: devel
Priority: optional
Maintainer: Nong Hoang Tu <dmknght@parrotsec.org>
Build-Depends: cmake,
 clang,
 debhelper-compat (= 13),
 dh-strip-nondeterminism,
 libcapstone-dev,
 libgraphviz-dev,
 libkf6svg-dev,
 libkf6syntaxhighlighting-dev,
 libpyside6-dev,
 librizin-dev,
 libshiboken2-dev,
 libshiboken6-dev,
 libstdc++-14-dev,
 libxxhash-dev,
 libzip-dev,
 pkg-config,
 python3-dev,
 qt6-5compat-dev,
 qt6-base-dev,
 qt6-declarative-dev,
 qt6-svg-dev,
 qt6-tools-dev,
 qt6-webengine-dev,
 zlib1g-dev,
Standards-Version: 4.5.1
Homepage: https://rizin.re/
Vcs-Browser: https://nest.parrotsec.org/packages/tools/rizin-cutter
Vcs-Git: https://nest.parrotsec.org/packages/tools/rizin-cutter.git
Rules-Requires-Root: no

Package: rizin-cutter
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: GUI for rizin reverse engineering framework
 Cutter is a Qt based GUI for reverse engineering binaries, which makes
 use of the rizin framework. Advanced users are expected to use the
 rizin CLI tools instead, which are much more powerful.

Package: librizin-cutter-dev
Architecture: any
Section: libdevel
Depends: ${misc:Depends}
Description: GUI for rizin reverse engineering framework
 This package contains devel files from rizin-cutter
